<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="20px"
  fxLayoutAlign="flex-start"
>
  <mat-card
    fxFlex="0 1 calc(50% - 20px)"
    fxFlex.lt-md="0 1 calc(50% - 20px)"
    fxFlex.lt-sm="100%"
  >
    <mat-card-title>Program</mat-card-title>
    <mat-card-content>
      <br>
      <b>Formiddag - Familie</b>
      <ul>
        <li>Kl. 10:00 lørdag - Vielse</li>
        <li>Kl. 10:30 lørdag - Bryllupskage og bobler</li>
        <li>Kl. 12:30 - 16.30 lørdag - Middag </li>
      </ul> 
      <br>
      <b>Eftermiddag - Venner</b>
      <ul>
        <li>Kl. 18:00 lørdag - Velkomst bobler</li>
        <li>Kl. 19:00 lørdag - Middag</li>
        <li>Kl. 22:30 lørdag - Bryllupskage og brudevals</li>
        <li>Kl. 23:00 lørdag - Musik og dans</li>
        <li>Kl. 10:00 søndag - Morgenmad</li>
      </ul> 
    </mat-card-content>
  </mat-card>

  <mat-card
    fxFlex="0 1 calc(50% - 20px)"
    fxFlex.lt-md="0 1 calc(50% - 20px)"
    fxFlex.lt-sm="100%"
  >
    <mat-card-title>Sted</mat-card-title>
    <iframe
    mat-card-image
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2200.3422716922864!2d10.809514316344602!3d56.530751980768564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464e80c867d7aefd%3A0x6ad1a002c1dab85f!2sFjeldholmlejren!5e0!3m2!1sen!2sdk!4v1581982552928!5m2!1sen!2sdk"
  >
  </iframe>
    <mat-card-content>
      <h2>Fjeldholmlejren</h2>
    </mat-card-content>
  </mat-card>

  <mat-card
  fxFlex="0 1 calc(50% - 20px)"
  fxFlex.lt-md="0 1 calc(50% - 20px)"
  fxFlex.lt-sm="100%"
  >
  <mat-card-title>Information</mat-card-title>
  <mat-card-content>
    <h2>Forholdsregler i forhold til Covid-19</h2>

    <p>For at kunne følge anbefalinger har vi delt dagen op, så vi ser en mindre del af familien om formiddagen til vielsen og over frokost. Om aftenen vil vi da holde middag og fest for venner.</p>
    <br>
    <p>Da det er en privat fest i lejede lokaler er det tilladt at holde fest også efter kl. 22. Dette gør vi, da vi synes vi har taget nødvendige forholdsregler.</p>
    <br>
    <p>Vi har fuldt forståelse, hvis nogen ikke ønsker at komme, eller nogen ønsker at tage hjem efter middag om aftenen.</p>
    <br>
    <p><u>Hvis man ikke kan komme, vil vi gerne have besked senest d. 12/10.</u></p>


    <h2>Overnatning</h2>

    <p>Der findes 2-4 mands værelser samt en sovesal. Hvis I ønsker at sove der, samt være der til morgenen efter, må I meget gerne give besked. Så vil vi stå for rumfordeling.</p>
    <br>
    <p>Hvis I vælger at overnatte, da ligger Fjeldholmlejren kun et par hundrede meter fra havet, så til dem der er friske kan man få sig en morgen dykkert.</p>
    
    <br>

    <h2>Mad</h2>
    <p>Hvis I har nogen form for allegier må I gerne give besked. Så sørger vi for, at der bliver taget højde for det.</p>
  </mat-card-content>
</mat-card>
<mat-card
fxFlex="0 1 calc(50% - 20px)"
fxFlex.lt-md="0 1 calc(50% - 20px)"
fxFlex.lt-sm="100%"
>
<mat-card-title>Indslag</mat-card-title>
<mat-card-content>
  <p>Hvis I ønsker at komme med et indslag kan I skrive til vores toastmaster Jakob Frandsen på mail <a href = "mailto: jakobrfrandsen@hotmail.com">jakobrfrandsen@hotmail.com</a> <i>(husk "R" mellem Jakob og Frandsen)</i>.
  </p>
</mat-card-content>
</mat-card>