<mat-sidenav-container fxFlexfill>
  <mat-sidenav #sidenav>
    <mat-nav-list *ngIf="currentUser">
      <a
        mat-list-item
        (click)="sidenav.close()"
        routerLink="/"
        routerLinkActive="active"
      >
        <mat-icon>help_outline</mat-icon> Information
      </a>
      <a
        mat-list-item
        (click)="sidenav.close()"
        routerLink="/guestslist"
        routerLinkActive="active"
      >
        <mat-icon>people</mat-icon> Gæsteliste
      </a>
      <a
        mat-list-item
        (click)="sidenav.close()"
        routerLink="/wishlist"
        routerLinkActive="active"
      >
        <mat-icon>redeem</mat-icon> Ønskeliste
      </a>
      <a mat-list-item (click)="sidenav.close(); logout()">
        <mat-icon>logout</mat-icon>Logout</a
      >

      <a mat-list-item [matMenuTriggerFor]="belowMenuSide"
      [ngStyle]="{display: isAdmin ? 'flex' : 'none'}">
        <mat-icon>lock</mat-icon> Admin
      </a>
      <mat-menu #belowMenuSide="matMenu" yPosition="below">
        <button
          mat-menu-item
          (click)="sidenav.close()"
          routerLink="/guestAdmin"
          routerLinkActive="active"
        >
          <mat-icon>people</mat-icon> Gæsteliste
        </button>
        <button
          mat-menu-item
          (click)="sidenav.close()"
          routerLink="/wishAdmin"
          routerLinkActive="active"
        >
          <mat-icon>redeem</mat-icon> Ønskeliste
        </button>
        <button
          mat-menu-item
          (click)="sidenav.close()"
          routerLink="/addressAdmin"
          routerLinkActive="active"
        >
          <mat-icon>house</mat-icon> Addresser
        </button>
      </mat-menu>

      <a mat-list-item (click)="sidenav.close()"
        ><mat-icon>close</mat-icon> Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" fxFlexFill>
    <header>
      <mat-toolbar id="navigation" *ngIf="currentUser">
        <button
          mat-icon-button
          (click)="sidenav.toggle()"
          fxShow="true"
          fxHide.gt-sm
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span id="navigation-buttons" fxShow="true" fxHide.lt-md>
          <a mat-button routerLink="/" routerLinkActive="active">
            <mat-icon>help_outline</mat-icon> Information
          </a>
          <a mat-button routerLink="/guestslist" routerLinkActive="active">
            <mat-icon>people</mat-icon> Gæsteliste
          </a>
          <a mat-button routerLink="/wishlist" routerLinkActive="active">
            <mat-icon>redeem</mat-icon> Ønskeliste
          </a>
          <a mat-button (click)="logout()">
            <mat-icon>logout</mat-icon>Logout</a
          >
          <button mat-button [matMenuTriggerFor]="belowMenu"
          [ngStyle]="{display: isAdmin ? 'flex' : 'none'}">
            <mat-icon>lock</mat-icon> Admin
          </button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <button
              mat-menu-item
              (click)="sidenav.close()"
              routerLink="/guestAdmin"
              routerLinkActive="active"
            >
              <mat-icon>people</mat-icon> Gæsteliste
            </button>
            <button
              mat-menu-item
              (click)="sidenav.close()"
              routerLink="/wishAdmin"
              routerLinkActive="active"
            >
              <mat-icon>redeem</mat-icon> Ønskeliste
            </button>
            <button
              mat-menu-item
              (click)="sidenav.close()"
              routerLink="/addressAdmin"
              routerLinkActive="active"
            >
              <mat-icon>house</mat-icon> Addresser
            </button>
          </mat-menu>
        </span>
      </mat-toolbar>
    </header>

    <main fxFlex>
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </main>

    <footer></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
